# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual env
.venv/
venv/

# Env
.env

# Logs
logs/

# Data
data/raw/
data/clean/
data/mart/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

/pokemon/*
/streamlit/data/pokopia_item_images/
/logs/pokopia_item_images_errors.log